@charset "UTF-8";
@font-face {
  font-family:aktiv-grotesk;
  src: url(https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
  font-weight:400;
  font-style:normal;
}
@font-face {
  font-family:aktiv-grotesk;
  src:url(https://use.typekit.net/af/e604a2/00000000000000003b9b4069/27/l?subset_id=2&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/e604a2/00000000000000003b9b4069/27/d?subset_id=2&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/e604a2/00000000000000003b9b4069/27/a?subset_id=2&fvd=n5&v=3) format("opentype");
  font-weight:500;
  font-style:normal;
}
@font-face {
  font-family:aktiv-grotesk;
  src:url(https://use.typekit.net/af/62681e/00000000000000003b9b406a/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/62681e/00000000000000003b9b406a/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/62681e/00000000000000003b9b406a/27/a?subset_id=2&fvd=n7&v=3) format("opentype");
  font-weight:700;
  font-style:normal;
}
@font-face {
  font-family:aktiv-grotesk;
  src:url(https://use.typekit.net/af/386e17/00000000000000003b9b4067/27/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/386e17/00000000000000003b9b4067/27/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/386e17/00000000000000003b9b4067/27/a?subset_id=2&fvd=i4&v=3) format("opentype");
  font-weight:400;
  font-style:italic;
}
@font-face {
  font-family:aktiv-grotesk;
  src:url(https://use.typekit.net/af/b739e6/00000000000000003b9b406b/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/b739e6/00000000000000003b9b406b/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/b739e6/00000000000000003b9b406b/27/a?subset_id=2&fvd=i7&v=3) format("opentype");
  font-weight:700;
  font-style:italic;
}

html {
    overflow-x: hidden;
  }
  
  html, html a, body {
    -webkit-font-smoothing: subpixel-antialiased;
  }
  
  body {
    font-family: MuseoSansRounded, Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 120%;
    font-weight: 100;
    line-height: 1.75;
  }

  @media only screen and (min-width: 95.25em) {
    body {
    font-size: 125%}
}
  
  p {
    font-size: 1rem;
    font-weight: 300;
    font-family: MuseoSansRounded, sans-serif;
    color: #1d1d1d;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  
  em,
  li,
  li a {
    font-size: 16px;
    font-weight: 500;
    font-family: MuseoSansRounded, sans-serif;
    color: #1d5a80;
  }
  
  a {
    font-family: MuseoSansRounded, sans-serif;
    color: #81848f;
    outline: 0;
  }
  
  a:focus, a:hover, a:active {
    outline: 0;
    color: #1d5a80;
    text-decoration: none;
  }
  
  .link {
    position: relative;
    font-size: 13px;
    font-weight: 600;
    font-family: MuseoSansRounded, sans-serif;
    text-transform: uppercase;
  }
  
  .link:after {
    position: absolute;
    top: 8px;
    right: -15px;
    width: 9px;
    height: 2px;
    background: #1d5a80;
    content: " ";
  }
  
  span {
    font-size: 14px;
    font-weight: 400;
    font-family: MuseoSansRounded, sans-serif;
    color: #bfc1c7;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: MuseoSansRounded, sans-serif;
    color: #1d5a80;
    line-height: 1.4;
    margin: 0 0 15px;
  }
  
  h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color: #1d5a80;
  }
  
  h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
    color: #1d5a80;
    text-decoration: none;
  }
  
  h1 > a:focus, h2 > a:focus, h3 > a:focus, h4 > a:focus, h5 > a:focus, h6 > a:focus {
    text-decoration: none;
  }
  
  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 22px;
  }
  
  h4 {
    font-size: 22px;
  }
  
  ::selection {
    color: #fff;
    background: #1d5a80;
    text-shadow: none;
  }
  
  ::-webkit-selection {
    color: #fff;
    background: #1d5a80;
    text-shadow: none;
  }
  
  ::-moz-selection {
    color: #fff;
    background: #1d5a80;
    text-shadow: none;
  }
  
  :active,
  :focus {
    outline: none;
  }
  
  /* Section Seperator */
  .section-seperator {
    border-bottom: 1px solid #edf0f2;
  }